body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #00a7e7, #232bed);
    color: #fff;
}

header {
    text-align: center;
    padding: 30px 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.intro {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6;
}

.games {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.games h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.game-card {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2); /* dejo un marco sutil para que no se pierda */
}

.game-icon {
    width: 150px;
    height: auto;
    margin: 15px 0;
    border-radius: 20px;
}

.buttons {
    margin-top: 15px;
}

.buttons a {
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
}

.android {
    background-color: #3ddc84;
    color: #000;
}

.ios {
    background-color: #ffffff;
    color: #000;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}

